<header class="container-fluid bg-primary d-flex align-items-center justify-content-center position-relative text-white"
    style="height:70px;">
    <h1
        class="position-absolute start-0 ms-2 ps-3 fs-4 mb-0 border border-2 border-light rounded-pill px-3 py-2 bg-white text-primary ">
        Welcome to Formation-Rants !</h1>
    <app-menu />
    @if(isConnected) {
        <button class="btn btn-primary position-absolute end-0 me-3" (click)="logout()" >
            <i class="fa-solid fa-users-slash"></i>
        </button>
    }
</header>